/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    @apply contents;
  }

  html {
    @apply h-full scroll-smooth antialiased;
  }

  body {
    @apply flex h-full flex-col;
  }

  main {
    @apply flex-1;
  }

  .section {
    @apply py-24;
  }

  .center {
    @apply max-w-5xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

input:-webkit-autofill, input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px rgb(255, 255, 255) inset;
  -webkit-text-fill-color: #333;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  content: URL();
  cursor: pointer;
 }

.w3-animate-top {
  position:relative;
  animation:animatetop 0.4s
}

@keyframes animatetop {
  from{top:-300px;opacity:0} 
  to{top:0;opacity:1}
}